.top-bar-wrap {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  padding: 10px 20px;

  @media(max-width: $medium) {
    padding: 10px 10px;
  }

  .top-bar-inner-wrap {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
  }

  .top-bar-logo {
    height: 46px;
    width: 46px;

    cursor: pointer;
    user-select: none;

    padding: 2px;

    @media(max-width: $medium) {
      height: 40px;
      width: 40px;

      padding: 0;
    }
  }

  .top-bar-item-wrap {
    display: flex;
    flex-direction: row;

    align-items: center;
  }

  .top-bar-item {
    font-size: $font-medium;
    padding: 0 15px;

    cursor: pointer;
    user-select: none;

    @media(max-width: $medium) {
      font-size: $font-small;
      padding: 0 10px;
    }
  }

  .top-bar-item:hover {
    color: $purple;
    font-weight: 500;
  }

  .active {
    color: $purple;
    font-weight: 500;
  }
}