body {
  margin: 0;
  padding: 0;

  background-color: $white;

  color: $gray;
  font-family: "Roboto";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-width {
  max-width: $large;
  margin: auto;
}