.skill-bar {
  position: relative;

  width: 90%;
  border-radius: 10px;

  margin: 20px 0;

  background: var(--gray);

  .label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    color: var(--white);
    text-align: center;

    font-size: 26px;
    text-align: center;

    padding: 15px 0;
  }

  .fill-bar {
    height: 60px;

    background: var(--purple);

    border-radius: 10px;
  }
}

@media(max-width: 800px) {
  .skill-bar {
    .fill-bar {
      height: 50px;
    }

    margin: 10px 0;

    .label {
      font-size: 20px;

      padding: 12px 0;
    }
  }
}
