.contact-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 50px 25px;

  @media(max-width: $medium) {
    flex-direction: column;

    padding: 50px 25px 25px;
  }

  .contact-image {
    height: 300px;
    width: auto;
    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 10px 2px;
  }

  .contact-content-divider {
    width: 1px;
    height: 170px;
    background-color: $purple;

    margin: 0 50px;
  }

  .contact-content {
    display: flex;
    flex-direction: column;

    @media(max-width: $medium) {
      margin-top: 30px;
    }
  }
}