.footer-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 25px 25px 50px;

  font-family: 'Montserrat';
  color: $purple;
  font-size: $font-large;

  @media(max-width: $medium) {
    font-size: $font-medium;
  }

  .footer-link {
    padding-top: 35px;
    align-self: center;
  }
}