.footer-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 25px 25px 50px;

  font-size: 24px;
  color: $purple;
  font-family: 'Montserrat';

  @media(max-width: $medium) {
    font-size: 20px;
  }

  .footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 35px;
  }
}