html {
  --light-gray: #9b9b9b;
  --gray: #7c7c7c;
  --white: #ffffff;
  --purple: #492f9f;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--white);

  color: var(--gray);
  font-family: "Roboto";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-width {
  max-width: 1200px;
  margin: auto;
}
