.typing-text-container {
  position: absolute;
  top: 40%;
  left: 10%;

  font-family: 'Montserrat';
  font-size: 48px;

  user-select: none;

  display: flex;
  flex-direction: row;

  .typewrite {
    .typing-text-static {
      color: var(--gray);
    }

    .wrap {
      color: var(--purple);
    }

    .blink-cursor {
      font-size: 56px;
      color: var(--purple);

      animation: blinkCursor .75s steps(1) infinite;
    }
  }
}

@keyframes blinkCursor {
  50% { color: transparent; }
}

@media(max-width: 800px) {
  .typing-text-container {
    flex-direction: column;
  }
}
